# This is an altered version of Drupal's .gitignore file
# The original is below. Rename this file to .gitignore and locate it in the drupal base directory

# start
# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
#sites/*/files
#sites/*/private
#end


# Here is the altered version
# Ignore configuration files that may contain sensitivew information.
sites/*/settings*.php
sites/*/private

sites/*/files/css
sites/*/files/js
sites/*/files/xmlsitemap


