/**
 * @file
 * Views Styling
 */
 
.view-vacant-lots .views-table {
	margin-left: 20px;
} 

.view-vacant-lots td.views-field  {
	padding-left: 10px;
	padding-right: 10px;
}

.view-vacant-lots th.views-field  {
  text-align: center;
}
  
.view-vacant-lots table.views-table {
	width: 600px;
}

.view-vacant-lots tbody {
	border: 1px #ccc solid;
}